[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS
[submodule "numpy"]
	path = numpy
	url = https://github.com/numpy/numpy
[submodule "scipy"]
	path = scipy
	url = https://github.com/scipy/scipy
[submodule "h5py"]
	path = h5py
	url = https://github.com/h5py/h5py
