pyzmq==14.6.0
pyzmq==14.7.0
Babel==2.0
Jinja2==2.7.3
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.1
Pygments==2.0.2
Sphinx==1.0 ; python_version < '3'
Sphinx==1.1.3 ; python_version < '3'
Sphinx==1.2.3
Sphinx==1.3.1
alabaster==0.7.6
argparse==1.4.0
backports.ssl_match_hostname==3.4.0.2
backports_abc==0.4
certifi==14.05.14
certifi==2015.04.28
certifi==2015.11.20.1
certifi==2015.9.6.2
cycler==0.9.0
decorator==3.4.0
decorator==4.0.4
docutils==0.12
docutils==0.8
funcsigs==0.4
functools32==3.2.3.post2 ; python_version == '2.7'
future==0.15.2
importlib==1.0.3 ; python_version < '3'
ipykernel==4.1.1
ipython==3.0.0
ipython==3.1.0
ipython==4.0.0
ipython_genutils==0.1.0
jsonschema==2.4.0
jsonschema==2.5.1
jupyter_client==4.1.1
jupyter_core==4.0.6
mistune==0.5.1
mistune==0.7.1
mock==1.0.1
mock==1.3.0
nbconvert==4.0.0
nbformat==4.0.1
networkx==1.8 ; python_version < '3'
networkx==1.9
networkx==1.9.1
nibabel==1.0.0 ; python_version < '3'
nibabel==1.2.0 ; python_version < '3'
nibabel==1.2.2 ; python_version < '3'
nibabel==1.3.0
nibabel==2.0.1
nibabel==2.0.2
nltk==3.1
nose==1.3.3
nose==1.3.4
nose==1.3.7
notebook==4.0.6
path.py==8.1.2
patsy==0.4.0
patsy==0.4.1
pbr==1.6.0
pep8==1.6.2
pexpect==4.0.1
pickleshare==0.5
psutil==2.2.1
ptyprocess==0.4 ; python_version >= '2.7'
ptyprocess==0.5 ; python_version >= '2.7'
pyparsing==2.0.2
pyparsing==2.0.3
pyparsing==2.0.6
pyparsing==2.0.7
python_dateutil==2.2
python_dateutil==2.4.2
pytz==2014.7
pytz==2014.7
pytz==2014.9
pytz==2015.4
pytz==2015.6
pytz==2015.7
sharedmem==0.3.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.0.0
six==1.10.0
six==1.3.0
six==1.4.0
six==1.7.3
six==1.8.0
six==1.9.0
snowballstemmer==1.2.0
sphinx_rtd_theme==0.1.9
sympy==0.7.0; python_version < '3'
sympy==0.7.6
terminado==0.5
textblob==0.11.0
tornado==4.0
tornado==4.0.2
tornado==4.1
tornado==4.2.1
tornado==4.3
traitlets==4.0.0
transforms3d==0.2.1
